# System variables
## Replace XXXX with the output of the command "id -u"
UID=1000
## Replace XXXX with the output of the command "id -g"
GID=1000

# ElasticSearch password
elasticsearch_password = '<ELASTICSEARCH_PASSWORD>'

# Cortex specific configuration
cortex_docker_job_directory=${PWD}/cortex/cortex-jobs
# Containers versions
cassandra_image_version = '4.1.11'
elasticsearch_image_version = '8.19.15'
thehive_image_version = '5.7.3'
cortex_image_version = '4.0.1'
nginx_image_version = '1.31.1'

# Nginx configuration
nginx_server_name="<docker01-ip>"
nginx_ssl_trusted_certificate=""
